<!DOCTYPE html>
<html lang="es">

<head>
    <title>MP3-SOUND | Convertidor</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/opciones.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <h2>MP3-SOUND <i class="bi bi-music-note-list"></i></h2>
        <div class="box-header">
            <button type="button" class="box-btn">
                <i class="bi bi-sun"></i>
            </button>
        </div>
    </header>
    <main>
        <section class="seccion descargar">
            <h1>MP3-SOUND <i class="bi bi-music-note-list"></i></h1>
            <hr>
            <br>
            <div class="search-box">
                <div class="input-box">
                    <input type="text" id="url-input" placeholder="Pega el link de YouTube aquí...">
                    <i class="bi bi-music-note"></i>
                </div>

                <div class="btn">
                    <button onclick="analizarLink()">
                        <i class="bi bi-search"></i>
                        <span>Analizar</span>
                    </button>
                </div>
            </div>


            <div id="resultado-analisis"></div>
        </section>
    </main>

    <footer>
        <p>Todos los derechos reservados @CatStudio - Caleb</p>
        <div class="box-header">
            <a href="#" class="box-btn">
                <i class="bi bi-download"></i>
            </a>
            <a href="#" class="box-btn">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </footer>

    <script src="/static/js/analyzer.js"></script>
    <script src="/static/js/opciones.js"></script>
</body>

</html>